### Import necessary libraries

In [1]:
import pandas as pd
import numpy as np
import os 
import seaborn as sns
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale

In [2]:
# enable mpld3 for this notebook, see documentation
%matplotlib inline
import matplotlib.pylab as plt
import mpld3
mpld3.enable_notebook()

In [3]:
# import mpld3 modules
from mpld3 import plugins, utils

In [4]:
import re
s = 'c141y_d228a_n235k_n239m'

In [5]:
re.findall('[0-9]+',s) # example string matching

['141', '228', '235', '239']

In [ ]:
# write a function to sort the location of the mutations based on domain

#def domain_subset(list_of_strings):

### Load the cleaned dataset

In [6]:
# load in dataset
mutants = pd.read_csv('../data/interim/k8_clean_data.csv', header=None, low_memory=False)

In [7]:
mutants.head()

,0,1,2,3,4,5,6,7,8,9,...,5400,5401,5402,5403,5404,5405,5406,5407,5408,5409
0,-0.161,-0.014,0.002,-0.036,-0.033,-0.093,0.025,0.005,0.000,-0.015,...,0.013,0.021,0.020,0.016,-0.011,0.003,0.010,-0.007,a119e_l125p,inactive
1,-0.158,-0.002,-0.012,-0.025,-0.012,-0.106,0.013,0.005,0.000,-0.002,...,-0.008,0.007,0.015,-0.008,-0.011,-0.004,0.013,0.005,a119e_r283k_a353v,inactive
2,-0.169,-0.025,-0.010,-0.041,-0.045,-0.069,0.038,0.014,0.008,-0.014,...,0.010,0.025,0.025,0.021,-0.012,0.006,0.016,-0.018,c135y,inactive
3,-0.183,-0.051,-0.023,-0.077,-0.092,-0.015,0.071,0.027,0.020,-0.019,...,0.012,0.050,0.038,0.051,-0.015,0.017,0.027,-0.049,c135y_e285m,inactive
4,-0.154,0.005,-0.011,-0.013,-0.002,-0.115,0.005,0.002,-0.003,0.002,...,0.012,0.009,0.003,-0.001,0.002,-0.006,0.009,0.013,c135y_e285v,inactive

### Subset the data

subset the data! first implement analysis on subset, then apply same on full dataset

first, check the mutant tags to see where the mutations are in the amino acid chain, and then subset based on domains

will have 5 subsets, corresponding to each of the 5 major p53 domains!

In [57]:
# create empty lists for each domain
# each list will store the indexes of the mutants (rows) for their respective protein domains

ad_loci = []
dbd_loci = []
td_loci = []
nls_loci = []
bd_loci = []

In [58]:
# pull out the column of mutants with the nametags

nametags = mutants[5408].astype(str)
print(nametags)

0              a119e_l125p
1        a119e_r283k_a353v
2                    c135y
3              c135y_e285m
4              c135y_e285v
               ...
16586    y220c_t230c_n239y
16587    y220c_y234f_n239l
16588                y234c
16589          y234c_a119e
16590          y234f_n239l
Name: 5408, Length: 16591, dtype: object

In [59]:
nametags.dtypes

dtype('O')

In [60]:
tag

'a119e_l125p'

In [61]:
# since there could be multiple loci, sort based on avg (center) of mutation loci

for tag in nametags:
        search = re.findall('[0-9]+', str(tag))
        snps = list(map(int, search))
        avg = np.mean(snps)

        
        if avg <= 101:
            #t = nametags.index(nametags.loc[tag])
            ad_loci.append(mutants[mutants[5408] == tag])
        elif avg > 101 and avg < 305:
            #t = nametags.index(tag)
            dbd_loci.append(mutants[mutants[5408] == tag])
        elif avg >= 305 and avg < 326:
            #t = nametags.index(tag)
            td_loci.append(mutants[mutants[5408] == tag])
        elif avg >= 326 and avg < 364:
            #t = nametags.index(tag)
            nls_loci.append(mutants[mutants[5408] == tag])
        elif avg >= 364:
            #t = nametags.index(tag)
            bd_loci.append(mutants[mutants[5408] == tag])
            

# make sure to check the size of each subset

In [ ]:
#df[df['col'] == value] 

#ad_loci.append(mutants[mutants[5408] == tag])

In [72]:
len(dbd_loci)

16591

In [ ]:
mutants.info()

In [ ]:
mutants.describe()

In [ ]:
# view heatmap of subset 1

plt.subplots(figsize=(12,10))
sns.heatmap(ad_mutants.corr());